/***********/
/* General */
/***********/

* {
    margin: 0;
    padding: 0;
    }
    
    a {
        color: var(--color-Negro);
        text-decoration: none;
    }
    
    body {
        background-color: var(--color-grisClaro);
        font-family: var(--font-roboto);
    }
    
    li {
        list-style: none;
    }
    
    